<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <!-- <script src="{{url_for('static', filename='index.js')}}"></script> -->
    <!-- <script src="{{url_for('static', filename='renderPlotly.js')}}"></script> -->
    <script type="text/javascript" src="/index.js"></script>
    <script type="text/javascript" src="/renderPlotly.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <style>
    html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
    </style>

    <script type="text/javascript">
      function decodeHtml(html) {
        var txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
      }
    </script>

</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="introduction.html">Gold Diggers</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="dashboard.html">Dashboard</a></li>
          <li><a href="spanish_flu.html">Spanish Flu</a></li>
          <li><a href="asian_flu.html">Asian Flu</a></li>
          <li><a href="hong_kong_flu.html">Hong Kong Flu</a></li>
          <li><a href="swine_flu.html">Swine Flu</a></li>
          <li><a href="coronavirus.html">COVID-19</a></li>
        </ul>
      </div>
    </nav>


    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
      <!-- The Grid -->
      <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">

          <!-- Profile -->
          <div class="w3-card w3-round w3-white">
            <div class="w3-container">
             <h4 class="w3-center">Pandemics in Recent History</h4>
             <p class="w3-center"></p>
             <hr>
             <p><i class="fa w3-margin-right w3-text-theme">Spanish Flu(H1N1): <strong>1918–1920</strong></i></p>
             <p><i class="fa w3-margin-right w3-text-theme">Asian Flu (H2N2): <strong>1957–1958</strong></i></p>
             <p><i class="fa w3-margin-right w3-text-theme">Hong Kong Flu: <strong>1968–1969</strong></i></p>
             <p><i class="fa w3-margin-right w3-text-theme">Swine Flu (H1N1): <strong>2009–2010</strong></i></p>
             <p><i class="fa w3-margin-right w3-text-theme">Coronavirus (COVID-19): <strong>2019-Present</i></strong></p>
            </div>
          </div>
          <br>

          <div class="w3-card w3-round w3-white w3-center">
            <img src="/pandemic3.jpg" alt="image" style="width:100%">
          </div>
          <br>

          <!-- Accordion -->
          <div class="w3-card w3-round">
            <div class="w3-white">
              <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> Extraction</button>
              <div id="Demo1" class="w3-hide w3-container">
                <p>Some text..</p>
              </div>
              <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> Transformation</button>
              <div id="Demo2" class="w3-hide w3-container">
                <p>Some other text..</p>
              </div>
              <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> Loading</button>
              <div id="Demo3" class="w3-hide w3-container">
             <!--div class="w3-row-padding">
             <br>
               <div class="w3-half">
                 <img src="#" style="width:100%" class="w3-margin-bottom">
               </div>
               <div class="w3-half">
                 <img src="#" style="width:100%" class="w3-margin-bottom">
               </div>
               <div class="w3-half">
                 <img src="#" style="width:100%" class="w3-margin-bottom">
               </div>
               <div class="w3-half">
                 <img src="#" style="width:100%" class="w3-margin-bottom">
               </div>
               <div class="w3-half">
                 <img src="#" style="width:100%" class="w3-margin-bottom">
               </div>
               <div class="w3-half">
                 <img src="#" style="width:100%" class="w3-margin-bottom">
               </div>
             </div-->
              </div>
            </div>
          </div>
          <br>

          <!-- Interests -->
          <div class="w3-card w3-round w3-white w3-hide-small">
            <div class="w3-container">
              <p>Interests Rates</p>
              <p>

              </p>
            </div>
          </div>
          <br>

          <div class="w3-card w3-round w3-white w3-center">
            <img src="/gold_and_dow.jpg" alt="image" style="width:100%"><br>
          </div>

        <!-- End Left Column -->
        </div>

        <!-- Middle Column -->
        <div class="w3-col m7">

          <div class="w3-row-padding">
            <div class="w3-col m12">
              <div class="w3-card w3-round w3-white">
                <div class="w3-container w3-padding">
                  <h6 class="w3-opacity"></h6>
                </div>
              </div>
            </div>
          </div>

          <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <!-- <img src="#" alt="Metrics" class="w3-left w3-circle w3-margin-right" style="width:60px"> -->
            <span class="w3-right w3-opacity">1 min</span>
            <h4><strong>Death Toll vs Market Activity</strong></h4><br>
            <hr class="w3-clear">
            <div>
              <div id="monthlyDeaths" value="monthlyDeaths">
                <canvas id="deathChart" width="600" height="600"></canvas>
                <script>
                  renderMonthlyDeaths("deathChart", decodeHtml( '{{ jsonDeathData }}' ) ) 
                </script>
              </div>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-half">
                  <img src="#" style="width:100%" alt="bar charts" class="w3-margin-bottom">
                </div>
                <div class="w3-half">
                  <img src="#" style="width:100%" alt="charts" class="w3-margin-bottom">
              </div>
            </div>
          </div>

          <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <!-- <img src="#" alt="Metrics" class="w3-left w3-circle w3-margin-right" style="width:60px"> -->
            <span class="w3-right w3-opacity">16 min</span>
            <h4>Chart One</h4><br>
            <hr class="w3-clear">
            <div>
              <img src="/deathsvsdelta.png" alt="image" style="width:100%">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>

          <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <img src="#" alt="Bars" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <span class="w3-right w3-opacity">32 min</span>
            <h4>Chart Two</h4><br>
            <hr class="w3-clear">
            <p>Have you seen this?</p>
            <img src="#" style="width:100%" class="w3-margin-bottom">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>

        <!-- End Middle Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-col m2">
          <div class="w3-card w3-round w3-white w3-center">
            <div class="w3-container">
              <div class="w3-card w3-round w3-white w3-hide-small">
                <img src="pandemic2.jfif" alt="image" style="width:100%">
              </div>
            </div>
          </div>
          <br>

          <div class="w3-card w3-round w3-white w3-center">
            <div class="w3-container">
              <p><strong>Survey:</strong></p>
              <!-- <img src="#" alt="image" style="width:50%"><br> -->
              <span>Have you tested positive for COVID 19?</span>
              <div class="w3-row w3-opacity">
                <div class="w3-half">
                  <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
                </div>
                <div class="w3-half">
                  <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="w3-card w3-round w3-white w3-center">
            <img src="/pandemic.jfif" alt="image" style="width:100%">
          </div>
          <br>
          
        <!-- End Right Column -->
        </div>

      <!-- End Grid -->
      </div>

    <!-- End Page Container -->
    </div>
    <br>

    <!-- Footer -->
    <footer class="w3-container w3-theme-d3 w3-padding-16">
      <h5>Footer</h5>
    </footer>

    <footer class="w3-container w3-theme-d5">
      <p>Powered by Gold <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>

    <script>
    // Accordion
    function myFunction(id) {
      var x = document.getElementById(id);
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
      } else {
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
      }
    }

    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
    </script>

</body>

</html>