<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hong Kong Flu</title>
    <script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>


    <script src="{{url_for('static', filename='index.js')}}"></script>
    <script src="{{url_for('static', filename='renderPlotly.js')}}"></script>



</head>
<body>
<!--  a couple of buttons that can be clicked to update plots -->
<button id ="myButton" type="button" class="btn btn-primary">Button One</button>
<button id = "myButtonTwo" type="button" class="btn btn-secondary">Button Two</button>
<!-- a couple of plots -->
<h1>Hong Kong Flu</h1>
<H3> A PLOT of DATA  </H3>
<div id ="myPlot"></div>
<H3> A 2nd PLOT </H3>
<div id ="myPlot2"></div>
</body>

</html>