<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pandemic Historical Gold Prices</title>
  <script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
  <script src="{{url_for('static', filename='index.js')}}"></script>
  <script src="{{url_for('static', filename='renderPlotly.js')}}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    .mycolor{
      color: #E4DA99;
    }
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }
  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }
  </style>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="active navbar-brand" href="/">GSANALYTICS</a>
        </div>
        <ul class="nav navbar-nav">
          <li ><a href="dashboard">Dashboard</a></li>
          <li ><a href="spanish_flu">Spanish Flu</a></li>
          <li><a href="asian_flu">Asian Flu</a></li>
          <li><a href="hong_kong_flu">Hong Kong Flu</a></li>
          <li><a href="swine_flu">Swine Flu</a></li>
          <li><a href="coronavirus">COVID-19</a></li>
          <li><a href="combined_data">Charts</a></li>
          <li><a href="conclusions">Conclusions</a></li>
        </ul>
      </div>
    </nav>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active" role="listbox">
        <img src="{{url_for('static', filename='/imgs/pangdcollage.jpg')}}" alt="First Slide">
        <div class="carousel-caption">
          <h3>Project - "GSANALYTICS"</h3>
          <p>Study of 100-Year DJIA Prices vs. Gold Prices</p>
        </div>
      </div>
      <div class="item">
        <img  src="{{url_for('static', filename='/imgs/diggers.jpg')}}"  alt="Second Slide">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <img src="{{url_for('static', filename='/imgs/thepriceofgold.jpg')}}" style="width:100%" alt="Third Slide">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel"> -->
      <!-- Indicators -->
      <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol> -->

      <!-- Wrapper for slides -->
      <!-- <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="{{url_for('static', filename='pangdcollage.jpg')}}" alt="Image">
          <div class="carousel-caption">
            <h3>Project Intro</h3>
            <p>Pandemic Historical Gold Prices</p>
          </div>
        </div> -->

        <!-- <div class="item">
          <img src="{{url_for('static', filename='diggers.jpg')}}" alt="Image">
          <div class="carousel-caption">
            <h3>Project Team</h3>
            <p>Team Members</p>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="{{url_for('static', filename='thepriceofgold.jpg')}}" alt="Image">
        <div class="carousel-caption">
          <h3>The Price of Gold</h3>
          <p>Study of Historic Data</p>
        </div>
      </div> -->

      <!-- Left and right controls -->
      <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>-->

  <div class="container text-center">
    <h3>Study of Pandemics vs. Gold Prices 100 Years</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <img src="{{url_for('static', filename='imgs/spafluThumb.jpg')}}" class="img-responsive" style="width:90%" alt="Spanish Flu Image">
        <p>Spanish Flu 1918</p>
      </div>
      <div class="col-sm-4">
        <img src="{{url_for('static', filename='Asianflu.jpg')}}" class="img-responsive" style="width:90%" alt="Asian Flu Image">
        <p>Asian Flu 1957</p>
      </div>
      <div class="col-sm-4">
          <img src="{{url_for('static', filename='swine.jpg')}}" class="img-responsive" style="width:90%" alt="Swine Flu Image">
          <p>Swine Flu 2009</p>
      </div>
    </div>
    <br>
    <footer class="container-fluid text-center">
      <p></p>
    </footer>
  </body>
</html>