<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intro</title>
    <script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>

    <script src="{{url_for('static', filename='index.js')}}"></script>
    <script src="{{url_for('static', filename='renderPlotly.js')}}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
<!-- a couple of plots -->
<h1>INTRO</h1>
<H3> A PLOT of DATA  </H3>
<div id ="myPlot"></div>
<H3> A 2nd PLOT </H3>
<div id ="myPlot2"></div>
</body>
=======
