<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template Data</title>
    <script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <script src="{{url_for('static', filename='renderPlotly.js')}}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
    <body>
        <!-- a couple of buttons that can be clicked to update plots -->
        <button id = "myButton" type = "button" class = "btn btn-primary">Button One</button>
        <button id = "myButtonTwo" type = "button" class = "btn btn-secondary">Button Two</button>
        <!-- a couple of plots -->
        <h1>Template Data</h1>
        <h3>A PLOT of DATA</h3>
        <div id ="myPlot"></div>
        <h3>A 2nd PLOT</h3>
        <div id ="myPlot2"></div>
    </body>
</html>